.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url("https://source.unsplash.com/RCAhiGJsUUE/1920x1080");
  height: 1000px;
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url("https://source.unsplash.com/wfh8dDlNFOk/1920x1080");
  height: 1000px;
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url("https://source.unsplash.com/lHGeqh3XhRY/1920x1080");
  height: 1000px;
}
